body {
	font-family: Helvetica;
	font-size: 16px;
	color:black;
}
#main {
	background: url('../images/newspaperbackground.png') no-repeat center top;
	width: 576px;
	height: 950px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}

/**********
content / welcome text
**********/
#content {
	position:relative;
	left:90px;
	width:390px;
	height:550px;
	overflow:auto;
	margin:15px 0 0 0;
	padding:0px 10px 0px 15px;
	text-align:left;
}
#content h1 {
	font-size:36pt;
	font-variant:small-caps;
	margin:0;
}
#content h2 {
	font-size:46pt;
	margin:0;
	
	font-weight:bold;
	text-transform:uppercase;
}
#content dl > dt, #content dl > dd {
	margin-left:0;
	display:inline-block;
	white-space:normal;
}
#content dl > dt {
	font-weight:bold;
}
#content a {
	text-decoration:none;
}
#content a:hover {
	text-decoration: underline;
	font-weight:bold;
}

/**********
content / photos
**********/
#photos {
	display:none;
	margin-top: 60px;
}
#highlightlinesContainerTop, #highlightlinesContainerMiddle, #highlightlinesContainerBottom {
	white-space:nowrap;
	overflow:visible;
	text-align:left;
	width:1900px;
	x-border: 1px solid greenyellow
}
.highlighline {
	x-display:block;
	position: absolute; /*relative allows the images to at least self-align horizontally*/
	display:none;
}

#highlightlinesContainerTop > img {
	vertical-align: top;
}
#highlight_lines_box_tl {
}
#highlight_lines_box_t {
}
#highlight_lines_box_tr {
}
#highlight_lines_box_l {
}
#highlight_lines_box_r {
}

#highlight_lines_box_bl {
}
#highlight_lines_box_b {
}
#highlight_lines_box_br {
}

/**********
Contact Tabs
**********/
.contactTab {
	height:60px;
	width:300px;
	border-bottom: 1px dashed #999999;
}
.contactTab:first-child {
	border-top: 1px dashed #999999;
}

.contactTab > a > * {
	margin-left:40px;
	white-space: nowrap;
}

.contactTab img {
	margin-left:10px;
	width: 16px;
	height: 16px;
	position:relative;
	top:28px;
}

.contactTab .service {
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
	color:black;
}

.contactTab a {
	color: #000099;
	text-decoration:none;
}

.contactTab a:hover {
	text-decoration:underline;
}

.contactTab:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}

:link    { color: #000099; }   /*just to make things consistent*/
:visited { color: #000099; }

#contactTabs {
	x-border:1px solid green;
	
	/*rotate text*/
	/* 
		550px is width of main content area.
		184px is width of contact tabs (after rotating 90deg)
		so (550-184)/2=183
		+184 to get the tabs into the area (the rotation rotates them down and to the left so they're outside of the content area)
		184+183=376
	*/

	transform: translate(376px, 0) rotate(90deg);
	transform-origin: left top;
	
	/*
	-webkit-transform: translate(442px, 0) rotate(90deg);
	-webkit-transform-origin: left top;

	-moz-transform: translate(442px, 0) rotate(90deg);
	-moz-transform-origin: left top;
	*/
}